/* style.css */

body {
    background-color: rgb(200, 183, 207);
    font-family: 'Lucida Console', 'Monaco', 'Courier New'
}

.heading {
    color: rgb(109, 172, 197);
    text-align: center;
    font-size: 40px;
}

.list-items,
p {
    color: rgb(165, 88, 114);
    font-size: 20px;
}

h2 {
    color: palevioletred;
    font-size: 30px;
}

#strawberry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}