/* style.css */

body {
    background-color: rgb(200, 183, 207);
}

.index-heading,
.index-items {
    font-family: 'Lucida Console', 'Monaco', 'Courier New'
}

.index-heading {
    color: rgb(109, 172, 197);
    text-align: center;
    font-size: 40px;
}

.index-items {
    color: palevioletred;
    font-size: larger;
}